MONGO_URI=mongodb+srv://princess:princessprincess@cluster0.7w6swdy.mongodb.net/webprog?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=mercado_princess_local_dev_secret

CLIENT_URL=http://localhost:5173
PORT=5000
