MONGO_URI=mongodb+srv://princess:princessprincess@cluster0.7w6swdy.mongodb.net/webprog?retryWrites=true&w=majority&appName=Cluster0


JWT_SECRET=mercado_princess_local_dev_secret
CLIENT_URLS=http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost:5176,http://localhost:5177,http://localhost:5178,http://localhost:5179
PORT=5000